* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}

/* body {
    background-color: #fff3f3;
} */
a {
    text-decoration: none;
}

.main-body::before {
    display: block;
    content: '';
    height: 60px;
    margin-bottom: 2%;
    background-color: #fff;
  }




.header {
    width: 100%;
    height: 70px;
    background-color: #F13647;
    margin-bottom: 2%;
    position: fixed; 
    /* padding: 20px 0; */
    z-index: 2;
}

.head {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.head h3 {
    font-size: x-large;
}

/* .search-bar {
    display: flex;
} */

.search-bar button{
    /* height: 30px; */
    outline: none;
    border: none;
    border-radius: 2px;


}

.search-bar button i{
    height: 30px;
    padding: 10px;
    font-size: 14px;
    color: #666;






}




.search {
    width: 600px;
    height: 30px;
    outline: none;
    border-radius: 2px 0 0 2px;
    border: none;
    padding: 10px;
    font-size: 14px;
    color: #666;
}

.nav-links li {
    list-style: none;
    display: inline-block;

    
}

.nav-links li a {
    color: #fff;
    /* margin: 0 5px; */
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
}



.logout {
    /* color: white; */
    padding: 5px 10px;
    border: 1px solid #3fb0ac;
    border-radius: 5px;
    /* background-color: #431c5d; */
    font-size: 14px;
    text-align: center;
}

.carousel {
    height: 500px;
    overflow: hidden;

}

.main-body {
    background-color: #fff3f3;
    padding: 2% 0;
}

.main-body::before {
    display: block;
    content: '';
    height: 60px;
    margin-bottom: 2%;
    background-color: #fff;
  }


  .row::before {
    display: block;
    content: '';
    height: 60px;
    margin-bottom: 2%;
    background-color: #fff;
  }



.card-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    

}

.card {
    width: 24%;
    height: 450px;
    background-color: #fff;
    padding: 20px;
    display: flex;
    margin-bottom: 1.5rem;
    margin-right: 0.75rem;

}

.card i {
    position: absolute;
    right: 20px;
    /* color: #e3e3e3; */
    color: #dddfd4;
    font-weight: 300;


}

.card img {
    margin:40px 0;
    width: 80%;
    align-self: center;
    height: 165px;
}

.card:hover img{
    width: 90%;
}

.card p {
    font-size: 13px;
    /* text-align: center; */
    margin-bottom: 10px;

}


.card h5 {
    font-size:16px;
    display: inline-block;
    margin-bottom: 20px;
}

.add-cart {
    float:right;
    background-color: #F13647;
    border: none;
    color: #fff;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.add-cart:hover {
    background-color: rgba(241, 54, 71,0.9);
}

.title {
    display: flex;
    justify-content: space-between;
    /* padding: 5px 0; */
    align-items: baseline;
}


.title h4{
    font-weight: 500;    

}

.title p {
    font-size: 13px;
    position: relative;
    margin-right: 20px;
}

.title p a {
    color: #fa255e;
    font-weight: 400;
    
}

.title p a i {
    font-size: 6px;
    padding: 0 2px;
    position: absolute;
    bottom: 35%;

}

.main-container {
    /* overflow: hidden; */
    position: relative;
}

.main-card-container {
    position: relative;
    overflow: hidden;
}

#s-1 {
    /* margin-right: -20px; */
    /* transform: translateX(100%); */
    transition: 2s;
    /* margin-right: 0.75rem; */
}

#s-2 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100%);
    transition: 2s;
    /* margin-right: 0.75rem; */
}

#right-btn {
    position: absolute;
    top:45%;
    right:0;
    font-size: 40px;
    color: #666;
    transform: translateY(-50%);
    background-color: transparent;
    cursor: pointer;
    visibility: visible;
    /* transition: 0.5s; */
    z-index: 2;
}


#left-btn {
    position: absolute;
    top:50%;
    left:-10px;
    font-size: 40px;
    color: #666;
    transform: translateY(-50%);
    background-color: transparent;
    cursor: pointer;
    z-index: 2;
    visibility: hidden;
    /* transition: 0.5s; */

}

#cart-icon{
	width:25px;
	/* display: inline-block; */
	margin-left: 15px;
}

#cart-total{
	display: inline-block;
    position: absolute;
	text-align: center;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
    color: #fff;
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: #4f868c!important;
}


.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}

