{% extends 'store/main.html' %}
{% load static %}
{% block content %}



    
<body style="background-color: #fff3f3;">
    <section class="main-body">
    <div class="container">
        
    <form method="POST" action="/postchat/">
        {% csrf_token %}
    <section class="main-Body">
        <div class="container contain">
        <div class="input">
            <input id="enter" name="ques" />
            <button type="submit" style="border-radius: 0 10px 10px 0;">Submit</button>
        </div>
        <div class="chat">
            {% for i,j in r %}
            <p id="question">You: {{i}}</p>
            <p id="reply">Bot: {{j}}</p>
            {% endfor %}
            <!-- <input type="submit" onclick="funct()"> -->
        </div>
    </div>
    </section>
    </form>
    </div>
    </section>
</body>


{% endblock content %}